.volcano-lair-win-wrapper .popup-content {
    border: 5px solid black !important;
    background-color: rgba(200, 200, 200, 0.9) !important;
    border-radius: 5px;
    margin-left: 30px !important;
    margin-top: 100px !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    width: 35% !important;
}

.volcano-lair-win-box {
    padding: 8px 8px 40px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('images/volcano-background.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: left;
}

.volcano-lair-win-title {
    font-size: 72pt;
    font-weight: bold;
    font-variant-caps: titling-caps;
}

.volcano-lair-win-text {
    margin-bottom: 8px;
    font-size: 18pt;
    font-weight: bold;
}