.you-lose-wrapper .popup-content {
    border: 1px solid gray !important;
    background-color: rgba(200, 200, 200, 0.7) !important;
    border-radius: 5px;
    margin-left: 30px !important;
    margin-top: 100px !important;
    margin-right: auto !important;
    margin-bottom: auto !important;
    width: 35% !important;
}

.you-lose-box {
    padding: 8px 8px 8px 8px;
}

.you-lose-title {
    color: darkgreen;
    font-size: x-large;
    font-weight: bold;
}

.you-lose-text {
    margin-bottom: 8px;
}